<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script>
    Vue.component('json-view' {

      props: ['data']

      template: `
      <span v-if="typeof data == 'number'">{{ data }}</span>
      <span v-else-if="typeof data == 'string'">{{ data }}</span>
      <span v-else-if="typeof data == 'boolean'">{{ data }}</span>
      <span v-else-if="Array.isArray(data)">
          <span>+</span>
            [<span>
                <div v-for="item of data">
                  <json-view :data = "item"></json-view>
                </div>
            </span>]
      </span>
      <span class="font-momo"  v-else-if="typeof data == 'object'">
          [<span>
              <div v-for="(item,key) of data">
                  {{ key }}
              </div>
          </span>]
      </span>

      `,
    })

  </script>
</body>


</html>
// 在合适的地方引入 Vue

